
/* Styling of activity section at home page*/

* {
  box-sizing: border-box;
}
 
#myDIV {
  width: 100%;
}

#myDIV2,
#myDIV3 {
  display: none;
  width: 100%;
}

#acbutton:hover {
  background-color: #e7e7e7;
  color: black;
}

.an {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.activitycontainer {
  border: 1px solid hidden;
  background: linear-gradient(-45deg, blue, pink, pink, blue);
}
	
	