
                         /* Styling for bookconfirm.php*/

		* {
          box-sizing: border-box;
        }  
				  
		.bottom {
		  border: 1px solid black;
		  height: 200px;
		  width: 100%;
		  background-color: CadetBlue;
		  float: left;  
		  position: absolute;
		  top: 690px;
		}
		
		.address {
		  margin-left: 30px;
		  margin-top: 10px;
		}
		
		.about {
		  position:absolute;
		  top:10px;
		  left:500px;
		  float:left;  
		}
				  
		