/* Footer Styling*/

* {
  box-sizing: border-box;
}

.footbox {
  border: 1px solid hidden;
  background-color: CadetBlue;
  line-height: 1.4;
}

.tab {
  margin-left: 8px;
}

.alink:link {
  color: black;
  text-decoration: underline;
}