                               
                                   /* Navigation Bar styling*/							   
   
  	  
	  #nalink {
		  font-size: 20px;
		  font-weight: bold;
		  font-family: Arial;
		  color: white;
	  }
	  
	  #dalink {
		  font-size: 20px;
		  font-weight: bold;
		  font-family: Arial;
		  color: black;
	  }
	  
	  #nalink:hover{
		  color: bisque;
	  }