                           /* Footer Styling*/

   * {
     box-sizing: border-box;
   }  
   
   footer{
     border: 1px solid black;
	 width: 100%;
	 height: 30%;
	 background-color: CadetBlue;
	 position: relative;
     display: flex;	 
	}
   
    .address {
      margin-top: 10px;
	  float: left;
	  width: 50%;
	  margin-left: 50px;
	  line-height: 1.5;
    }
   
   .about {
	 margin-top: 10px;  
     position: relative;
	 width: 50%;
	 float: left;
	 line-height:1.4;
   }
   
   .tab {
	   margin-left:8px;
   }