
                         /* Review on Home page styling */

    * {
      box-sizing: border-box;
    }    
   
    .review-container {
      left: 0;
	  font-style: arial;
	  border: 1px solid hidden;
	  width: 100%;
	  height: 25%;
	  background-color: AliceBlue;
	 }
	 
	 .review-content {
		 margin-left: 40px;
	 }	 
	
	.show {
	  background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
	  cursor: pointer;
      font-size: 16px;
	  margin-left: 20%;
	  position: relative;
	  width: 250px;
	}
	 
	.show:hover {
	  background-color: blue;
      			 
	}
	
    .review-heading {
	  font-style: Freestyle Script;
	  padding-left: 80px;
	  color: purple;
	}	 
     
	.abc {
	  display: none;
	}			